---
    const { producto } = Astro.props;

// Funcion para formatear el precio y transformalo a clp

    function formatearPrecio(precio:number) {
    return new Intl.NumberFormat('es-CL', {
        style: 'currency',
        currency: 'CLP',
        maximumFractionDigits: 0
    }).format(precio);
    }

    // Funcion para elegir qué mostrar en la tarjeta
    function getSpecsPrincipales(prod:any) {
    switch (prod.tipo) {
        case 'Mouse':
        return [
            { label: 'Tracking', valor: prod.especificaciones.tracking },
            { label: 'Cableado', valor: prod.especificaciones.cableado },
            { label: 'DPI Máx.', valor: prod.especificaciones.dpi_maximo.toLocaleString('es-CL') }
        ];
        case 'Teclado':
        return [
            { label: 'Tipo', valor: prod.especificaciones.tipo },
            { label: 'Formato', valor: prod.especificaciones.categoria },
            { label: 'Switch', valor: prod.especificaciones.tipo_de_switch }
        ];
        case 'Monitor':
        return [
            { label: 'Tamaño', valor: prod.especificaciones.tamano },
            { label: 'Resolución', valor: prod.especificaciones.resolucion },
            { label: 'Tasa Refresco', valor: prod.especificaciones.tasa_de_refresco }
        ];
        default:
        return [];
    }
    }

    const specs = getSpecsPrincipales(producto);
---

    <a 
    href={`/${producto.categoria}/${producto.id}`} 
    class=" bg-white rounded-lg shadow-md overflow-hidden p-6 flex flex-col items-center text-center h-full transition-all duration-300 hover:shadow-xl hover:-translate-y-1">
    
    <div class="w-full h-56 flex items-center justify-center mb-4">
        <img 
        src={producto.imagen_url} 
        alt={producto.nombre} 
        class="max-w-full max-h-full object-contain"/>
    </div>

    
    <span class="bg-indigo-100 text-indigo-800 text-xs font-medium px-2.5 py-0.5 rounded-full mb-2">
    {producto.tipo}
</span> 
    
    <h2 class="text-xl font-semibold text-gray-800 mb-2">{producto.nombre}</h2>

    
    <p class="text-3xl font-bold text-gray-900 mb-6">{formatearPrecio(producto.precio)}</p>

    
    <div class="w-full text-left space-y-2 text-gray-700 text-sm mt-auto">
        {specs.map(spec => (
        <p><strong>{spec.label}:</strong> {spec.valor || 'N/A'}</p>
        ))}
    </div>
    </a>